<html>
  <head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content"><%- include('../partials/header') %> <%= helpText %></div>
    <%- include('../partials/footer') %>
  </body>
</html>
